# Conexión a Bases de datos

**Autor:** Roberto Muñoz <br />
**E-mail:** <rmunoz@metricarts.com> <br />
**Github:** <https://github.com/rpmunoz> <br />


- Abrir Anaconda prompt
- Instalar el conector de MySQL para python

    `conda install -c anaconda mysql-connector-python`

In [47]:
import numpy as np
import pandas as pd
import mysql.connector as sql

In [48]:
# Database args
db_user = 'intensivo@banistmoserver'
db_passwd = '1234.intenso'
db_host = 'banistmoserver.mysql.database.azure.com'
db_name = 'intensivopython'

In [63]:
cnx = sql.connect(user=db_user, password=db_passwd, host=db_host, database=db_name)

Usando el cursor de SQL. Ojo que antes de cerrar el cursor tenemos que realizar las operaciones de lectura que necesitemos.

In [50]:
query= "SHOW TABLES;"

cursor = cnx.cursor(buffered=True)
cursor.execute(query)

for el in cursor:
    print(el)

cursor.close()

('comunas',)
('provincias',)
('regiones',)

True

Usando el método read_sql de Pandas

In [51]:
query= "SHOW TABLES;"
tablas=pd.read_sql(query, con=cnx)
tablas

  Tables_in_intensivopython
0                   comunas
1                provincias
2                  regiones

Hagamos un select en la tabla regiones

In [52]:
query= "SELECT * from regiones;"
regiones=pd.read_sql(query, con=cnx)
regiones

    region_id                              region_nombre region_ordinal
0           1                         Arica y Parinacota             XV
1           2                                   Tarapacá              I
2           3                                Antofagasta             II
3           4                                    Atacama            III
4           5                                   Coquimbo             IV
5           6                                 Valparaíso              V
6           7                  Metropolitana de Santiago             RM
7           8      Libertador General Bernardo O'Higgins             VI
8           9                                      Maule            VII
9          10                                     Biobío           VIII
10         11                               La Araucanía             IX
11         12                                   Los Ríos            XIV
12         13                                  Los Lagos              X
13         14  Aysén del General Carlos Ibáñez del Campo             XI
14         15       Magallanes y de la Antártica Chilena            XII

La siguiente consulta está parametrizada. Fíjese cómo se declaran los parámetros dentro de la cadena de la consulta, y cómo después se ingresan, en el comando read_sql de Pandas.

In [53]:
query= "SELECT * from regiones WHERE region_id BETWEEN %s and %s;"
regiones=pd.read_sql(query, params=(2,8), con=cnx)
regiones.head()

   region_id region_nombre region_ordinal
0          2      Tarapacá              I
1          3   Antofagasta             II
2          4       Atacama            III
3          5      Coquimbo             IV
4          6    Valparaíso              V

Como verá en la siguiente consulta, estamos utilizando cosas aprendidas en los tutoriales anteriores. Estamos armando dinámicamente la cadena que respresenta una consulta. Específicamente, utilizamos una lista con id's de regiones que nos interesan, lo convertimos a un objeto `array` de numpy (np.array), después aplicamos la función `map` para aplicar la función `str` al array, y finalmente, concatenamos los resultados con el caracter ",". **Todo en una línea**.
¿En cuantas líneas podría hacer esto en Java?

In [54]:
','.join(["Hola","Mundo","Como","Estan"])

'Hola,Mundo,Como,Estan'

In [55]:
region_ids=[5,8,10]

query= "SELECT * from regiones WHERE region_id IN ("
query_region= ', '.join(map(str, np.array(region_ids)))
query= query + query_region + ");"
print(query)

regiones=pd.read_sql(query, con=cnx)
regiones

SELECT * from regiones WHERE region_id IN (5, 8, 10);

   region_id                          region_nombre region_ordinal
0          5                               Coquimbo             IV
1          8  Libertador General Bernardo O'Higgins             VI
2         10                                 Biobío           VIII

## Uso de pandas.merge()

In [56]:
query= "SELECT * from regiones;"
regiones=pd.read_sql(query, con=cnx)
regiones

    region_id                              region_nombre region_ordinal
0           1                         Arica y Parinacota             XV
1           2                                   Tarapacá              I
2           3                                Antofagasta             II
3           4                                    Atacama            III
4           5                                   Coquimbo             IV
5           6                                 Valparaíso              V
6           7                  Metropolitana de Santiago             RM
7           8      Libertador General Bernardo O'Higgins             VI
8           9                                      Maule            VII
9          10                                     Biobío           VIII
10         11                               La Araucanía             IX
11         12                                   Los Ríos            XIV
12         13                                  Los Lagos              X
13         14  Aysén del General Carlos Ibáñez del Campo             XI
14         15       Magallanes y de la Antártica Chilena            XII

In [57]:
query= "SELECT * from provincias;"
provincias=pd.read_sql(query, con=cnx)
provincias.head()

   provincia_id provincia_nombre  region_id
0             1            Arica          1
1             2       Parinacota          1
2             3          Iquique          2
3             4     El Tamarugal          2
4             5      Antofagasta          3

In [58]:
query= "SELECT * from comunas;"
comunas=pd.read_sql(query, con=cnx)
comunas.head()

   comuna_id  comuna_nombre  provincia_id
0          1          Arica             1
1          2      Camarones             1
2          3  General Lagos             2
3          4          Putre             2
4          5  Alto Hospicio             3

In [59]:
regiones_provincias=pd.merge(regiones, provincias, how='outer')
regiones_provincias.head()

   region_id       region_nombre region_ordinal  provincia_id provincia_nombre
0          1  Arica y Parinacota             XV             1            Arica
1          1  Arica y Parinacota             XV             2       Parinacota
2          2            Tarapacá              I             3          Iquique
3          2            Tarapacá              I             4     El Tamarugal
4          3         Antofagasta             II             5      Antofagasta

## Análisis de la población por comuna

In [65]:
query= "SELECT * from poblacion;"
poblacion=pd.read_sql(query, con=cnx)
poblacion.head()

,comuna_nombre,region_nombre,provincia_nombre,poblacion_1992,poblacion_2002,poblacion_2017
0,Antofagasta,Antofagasta,Antofagasta,227065.0,289477.0,361873
1,Calama,Antofagasta,El Loa,121827.0,137144.0,165731
2,Tocopilla,Antofagasta,Tocopilla,25119.0,23968.0,25186
3,Mejillones,Antofagasta,Antofagasta,5886.0,8034.0,13467
4,Taltal,Antofagasta,Antofagasta,10926.0,10307.0,13317

In [66]:
(poblacion.groupby(poblacion['region_nombre'])['poblacion_1992','poblacion_2002','poblacion_2017'].sum())

,poblacion_1992,poblacion_2002,poblacion_2017
region_nombre,,,
Antofagasta,408874.0,481931.0,607534
Arica y Parinacota,172669.0,188463.0,226068
Atacama,229154.0,253205.0,286168
Aysén del General Carlos Ibáñez del Campo,78666.0,89986.0,103158
Biobío,1729209.0,1859546.0,2037414
Coquimbo,501795.0,603133.0,757586
La Araucanía,777788.0,867351.0,957224
Libertador General Bernardo O'Higgins,690751.0,775883.0,914555
Los Lagos,658199.0,712039.0,828708
Los Ríos,328479.0,354271.0,384837
Magallanes y de la Antártica Chilena,141705.0,147506.0,166533
Maule,835858.0,908398.0,1044950
Metropolitana de Santiago,5236718.0,6045820.0,7112808
Tarapacá,163404.0,236021.0,330558
Valparaíso,1373095.0,1530841.0,1815902

In [69]:
regiones_poblacion=pd.merge(regiones, poblacion, how='outer')
regiones_poblacion

,region_id,region_nombre,region_ordinal,comuna_nombre,provincia_nombre,poblacion_1992,poblacion_2002,poblacion_2017
0,1,Arica y Parinacota,XV,Arica,Arica,168633.0,184914.0,221364
1,1,Arica y Parinacota,XV,Putre,Parinacota,2417.0,1671.0,2765
2,1,Arica y Parinacota,XV,Camarones,Arica,729.0,999.0,1255
3,1,Arica y Parinacota,XV,General Lagos,Parinacota,890.0,879.0,684
4,2,Tarapacá,I,Iquique,Iquique,144447.0,168397.0,191468
5,2,Tarapacá,I,Alto Hospicio,Iquique,5511.0,49436.0,108375
6,2,Tarapacá,I,Pozo Almonte,Tamarugal,6209.0,9407.0,15711
7,2,Tarapacá,I,Pica,Tamarugal,2332.0,3498.0,9296
8,2,Tarapacá,I,Huara,Tamarugal,1931.0,2522.0,2730
9,2,Tarapacá,I,Colchane,Tamarugal,1554.0,1474.0,1728
10,2,Tarapacá,I,Camiña,Tamarugal,1420.0,1287.0,1250
11,3,Antofagasta,II,Antofagasta,Antofagasta,227065.0,289477.0,361873
12,3,Antofagasta,II,Calama,El Loa,121827.0,137144.0,165731
13,3,Antofagasta,II,Tocopilla,Tocopilla,25119.0,23968.0,25186
14,3,Antofagasta,II,Mejillones,Antofagasta,5886.0,8034.0,13467
15,3,Antofagasta,II,Taltal,Antofagasta,10926.0,10307.0,13317
16,3,Antofagasta,II,San Pedro de Atacama,El Loa,2670.0,4025.0,10996
17,3,Antofagasta,II,Sierra Gorda,Antofagasta,1183.0,1234.0,10186
18,3,Antofagasta,II,María Elena,Tocopilla,13765.0,7456.0,6457
19,3,Antofagasta,II,Ollagüe,El Loa,433.0,286.0,321
20,4,Atacama,III,Copiapó,Copiapó,100426.0,129279.0,153937
21,4,Atacama,III,Vallenar,Huasco,47267.0,48369.0,51917
22,4,Atacama,III,Caldera,Copiapó,11673.0,13305.0,17662
23,4,Atacama,III,Tierra Amarilla,Copiapó,11269.0,12266.0,14019
24,4,Atacama,III,Diego de Almagro,Chañaral,27462.0,18227.0,13925
25,4,Atacama,III,Chañaral,Chañaral,13856.0,13303.0,12219
26,4,Atacama,III,Huasco,Huasco,7311.0,7952.0,10149
27,4,Atacama,III,Freirina,Huasco,5222.0,5809.0,7041
28,4,Atacama,III,Alto del Carmen,Huasco,4668.0,4695.0,5299
29,5,Coquimbo,IV,Coquimbo,Elqui,121892.0,163557.0,227730
...,...,...,...,...,...,...,...,...
316,13,Los Lagos,X,Quinchao,Chiloé,9112.0,8932.0,8088
317,13,Los Lagos,X,San Juan de la Costa,Osorno,9587.0,8782.0,7512
318,13,Los Lagos,X,Queilén,Chiloé,4999.0,5145.0,5385
319,13,Los Lagos,X,Chaitén,Palena,7006.0,7062.0,5071
320,13,Los Lagos,X,Cochamó,Llanquihue,4346.0,4323.0,4023
321,13,Los Lagos,X,Puqueldón,Chiloé,4258.0,4124.0,3921
322,13,Los Lagos,X,Curaco de Vélez,Chiloé,3012.0,3379.0,3829
323,13,Los Lagos,X,Futaleufú,Palena,1737.0,1822.0,2623
324,13,Los Lagos,X,Palena,Palena,1886.0,1675.0,1711
325,14,Aysén del General Carlos Ibáñez del Campo,XI,Coyhaique,Coyhaique,42952.0,49489.0,57818
326,14,Aysén del General Carlos Ibáñez del Campo,XI,Aysén,Aysén,18885.0,22111.0,23959
327,14,Aysén del General Carlos Ibáñez del Campo,XI,Cisnes,Aysén,4469.0,5321.0,6517
328,14,Aysén del General Carlos Ibáñez del Campo,XI,Chile Chico,General Carrera,3752.0,4435.0,4865
329,14,Aysén del General Carlos Ibáñez del Campo,XI,Cochrane,Capitán Prat,2728.0,2895.0,3490
330,14,Aysén del General Carlos Ibáñez del Campo,XI,Río Ibáñez,General Carrera,2857.0,2458.0,2666
331,14,Aysén del General Carlos Ibáñez del Campo,XI,Guaitecas,Aysén,1243.0,1429.0,1843
332,14,Aysén del General Carlos Ibáñez del Campo,XI,Lago Verde,Coyhaique,1032.0,956.0,852
333,14,Aysén del General Carlos Ibáñez del Campo,XI,O'Higgins,Capitán Prat,308.0,457.0,625
334,14,Aysén del General Carlos Ibáñez del Campo,XI,Tortel,Capitán Prat,440.0,435.0,523
335,15,Magallanes y de la Antártica Chilena,XII,Punta Arenas,Magallanes,113820.0,118241.0,131592
336,15,Magallanes y de la Antártica Chilena,XII,Natales,Última Esperanza,17155.0,18823.0,21477
337,15,Magallanes y de la Antártica Chilena,XII,Porvenir,Tierra del Fuego,5014.0,4891.0,6801
338,15,Magallanes y de la Antártica Chilena,XII,Cabo de Hornos,Antártica Chilena,1616.0,2176.0,2063
339,15,Magallanes y de la Antártica Chilena,XII,Torres del Paine,Última Esperanza,382.0,494.0,1209
340,15,Magallanes y de la Antártica Chilena,XII,Primavera,Tierra del Fuego,1479.0,789.0,1158
341,15,Magallanes y de la Antártica Chilena,XII,San Gregorio,Magallanes,1251.0,834.0,799
342,15,Magallanes y de la Antártica Chilena,XII,Río Verde,Magallanes,311.0,278.0,617
343,15,Magallanes y de la Antártica Chilena,XII,Timaukel,Tierra del Fuego,251.0,377.0,405
344,15,Magallanes y de la Antártica Chilena,XII,Laguna Blanca,Magallanes,426.0,603.0,274
345,15,Magallanes y de la Antártica Chilena,XII,Antártica,Antártica Chilena,NaN,NaN,138

In [70]:
(poblacion.groupby(poblacion['region_nombre'])['poblacion_1992','poblacion_2002','poblacion_2017'].sum())

,poblacion_1992,poblacion_2002,poblacion_2017
region_nombre,,,
Antofagasta,408874.0,481931.0,607534
Arica y Parinacota,172669.0,188463.0,226068
Atacama,229154.0,253205.0,286168
Aysén del General Carlos Ibáñez del Campo,78666.0,89986.0,103158
Biobío,1729209.0,1859546.0,2037414
Coquimbo,501795.0,603133.0,757586
La Araucanía,777788.0,867351.0,957224
Libertador General Bernardo O'Higgins,690751.0,775883.0,914555
Los Lagos,658199.0,712039.0,828708
Los Ríos,328479.0,354271.0,384837
Magallanes y de la Antártica Chilena,141705.0,147506.0,166533
Maule,835858.0,908398.0,1044950
Metropolitana de Santiago,5236718.0,6045820.0,7112808
Tarapacá,163404.0,236021.0,330558
Valparaíso,1373095.0,1530841.0,1815902

Cerramos la conexión al servidor de MySQL. **¡¡No olvide hacer esto!!**

In [ ]:
cnx.close()